.main
{
    margin: 0 auto;
    padding: 0;
    font-style: normal;
    background: var(--basic-white);
}

.main > div
{
    display: flex;
    flex-flow: column;
    padding: 0 calc(50% - 471px);
}

.main > div > div
{
    display: flex;
    flex-flow: column;
}

.main > div > div > div.main__wrapper--catalog--menu
{
    display: flex;
    flex-flow: row;
}

.main > div > div > div.main__wrapper--catalog--perforator-section
{
    display: flex;
    flex-flow: column;
}

.main > div > div > div.main__wrapper--catalog--perforator-section > div:nth-child(1)
{
    display: block;
}

.main > div > div > div.main__wrapper--catalog--perforator-section > div:nth-child(1) > h1
{
    display: block;
}